{% extends "layout.html" %}
{% load static %}
{% block title %}Contact{% endblock  %}
<style>
    *{
        margin:0;
        padding:0;
        box-sizing:content-box;
    }
   
    
</style> 
{% block content %}
    <div class="back-img w-100"> 
            <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/k-32-nat-1124-olj1553-2-contactus.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=98615933be7d660348bca297b128d269" alt="contact us" width="100%" height="300px">
    </div>

<form class="ms-2">
    <div class="mt-5">
    <div class="heading">
        <h1>Contact Us</h1>
    </div>
    <div class="col-lg-3 col-md-3">
        <h5>Name</h5>
        <input type="text" placeholder="Enter your name" >
    </div>
    
    <div class="col-lg-3 col-md-3 mt-1">
        <h5>Email Address</h5>
        <input type="email" placeholder="Enter your email" >
    </div>
    <div class="col-lg-3 col-md-3 mt-1">
        <h5>Phone no.</h5>
        <input type="number" placeholder="Enter your contact no." >
    </div>
    <div class="col-lg-3 col-md-3 mt-1">
        <h5>Message</h5>
        <input type="text" placeholder="Message">
    </div>
</div>
</form>

{% endblock %}
