
.bg-img{
    background: linear-gradient(to right, white, #2063c9);;
   
}
.bg-imag{
   filter:drop-shadow(10px 10px 10px #2063c9);

}
.intro{
    filter:drop-shadow(10px 10px 10px rgb(169, 212, 255));
}

a,ul{
    text-decoration: none !important;
    list-style:none;
}
